@import url('../../customMediaQueries.css');

body {
  background-color: #6d6d6d;
}

main {
  width: 662px;
  padding: 0;
  margin: 0 auto;
  background-color: white;
  border-radius: 6px;

  @media not (--popup-viewport) {
    margin-top: 40px;
  }
}
